<footer>
    <div class="wrapper">
        <div class="columns content-with-side-content reverse">
            <div>
                <img src="{{ '/assets/images/codeplay-logo-black.svg' | relative_url }}"
                     alt="Codeplay Software Ltd" />

                <span class="intel">Codeplay, an Intel&reg; Company.</span>

                <div><b>&copy; Copyright Codeplay Software Ltd {{ 'now' | date: "%Y" }}</b></div>

                <p><small>Intel, the Intel logo, Codeplay, Codeplay logo and other Intel
                    marks are trademarks of Intel Corporation or its subsidiaries. Other names and brands may be
                    claimed as the property of others. SYCL is a trademark if the Khronos(R) Group.</small></p>

                <p><small>Codeplay and Intel technologies may require enabled hardware, software or service activation.
                    No product or component can be absolutely secure. Your costs and results may vary.
                    Performance varies by use, configuration and other factors.
                    <a href="https://edc.intel.com/content/www/us/en/products/performance/benchmarks/overview/#GUID-26B0C71C-25E9-477D-9007-52FCA56EE18C"
                       target="_blank"
                       rel="noopener">See our complete legal Notices and Disclaimers</a>.</small></p>

                <div><small>Company Registration (England & Wales) number: 04567874. Registered Office:
                    2 New Bailey, 6 Stanley Street, Salford, Greater Manchester, UK, M3 5GS</small></div>
                <div class="copyright"></div>
            </div>
            <div class="columns three">
                <div>
                    <h1>Useful Links</h1>
                    <ul>
                        <li>
                            <a href="http://developer.codeplay.com" target="_blank" rel="noopener">Developer Portal</a>
                        </li>
                        <li>
                            <a href="{{ '/solutions/oneapi/' | relative_url }}">oneAPI</a>
                        </li>
                        <li>
                            <a href="https://github.com/codeplaysoftware/syclacademy" target="_blank"
                               rel="noopener">SYCL Academy</a>
                        </li>
                        <li>
                            <a href="https://sycl.tech" target="_blank"
                               rel="noopener">SYCL.tech</a>
                        </li>
                        <li>
                            <a href="https://syclops.org" target="_blank"
                               rel="noopener">SYCLOPS.org</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h1>Legal</h1>
                    <ul>
                        <li>
                            <a href="{{ '/company/cookies/' | relative_url }}">Cookie Policy &amp; Cookie Settings</a>
                        </li>
                        <li>
                            <a href="{{ '/company/privacy#_How_is_your' | relative_url }}">GDPR</a>
                        </li>
                        <li>
                            <a href="{{ '/company/privacy' | relative_url }}">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="{{ '/company/quality' | relative_url }}">Quality Policy</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h1>Support</h1>
                    <ul>
                        <li>
                            <a href="{{ '/company/contact/' | relative_url }}">Contact Us</a>
                        </li>
                        <li>
                            <a href="https://support.codeplay.com/" target="_blank" rel="noopener">Discourse</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/codeplaysoft/" target="_blank" rel="noopener">Facebook</a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/codeplay-software"
                             target="_blank" rel="noopener">Linkedin</a>
                        </li>
                        <li>
                            <a href="https://eepurl.com/g7gMMf" target="_blank" rel="noopener">
                                Subscribe to Newsletter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
