<div class="share-post-icons">
    <a class="twitter"
       href="https://twitter.com/intent/tweet?url={{page.url | absolute_url | url_encode}}&text={{page.title | url_encode}}"
       target="_blank"
       rel="noopener">Twitter</a>
    <a class="facebook"
       href="https://www.facebook.com/sharer/sharer.php?u={{page.url | absolute_url | url_encode}}"
       target="_blank"
       rel="noopener">Facebook</a>
    <a class="linkedin"
       href="http://www.linkedin.com/shareArticle?mini=true&url={{page.url | absolute_url | url_encode}}&title={{page.title | url_encode}}"
       target="_blank"
       rel="noopener">LinkedIn</a>
</div>
