---
---

section#splash {
    background-color: #111;
    color: #efefef;
}
section#splash #splash-img {
    width: 395px;
    height: 395px;
    padding-top: 2rem;
    display: inline-block;
}

section#splash a.button {
    background: rgb(107,7,75);
    background: linear-gradient(0deg, rgba(107,7,75,1) 0%, rgba(199,2,54,1) 100%);
}


section#why-work-with-us {
    background-color: #efefef;
    color: #111;
}

section#why-work-with-us .columns > div {
}
section#why-work-with-us .columns > div > div:nth-of-type(1) {
    background-size: cover;
}
section#why-work-with-us .columns > div:nth-of-type(1) > div:nth-of-type(1) {
    background-image: url({{ '/assets/images/company/careers/expert-bg.jpg' | relative_url }});
}
section#why-work-with-us .columns > div:nth-of-type(2) > div:nth-of-type(1) {
    background-image: url({{ '/assets/images/company/careers/travel-bg.jpg' | relative_url }});
}
section#why-work-with-us .columns > div:nth-of-type(3) > div:nth-of-type(1) {
    background-image: url({{ '/assets/images/company/careers/industry-bg.jpg' | relative_url }});
}


section#why-work-with-us i {
    font-size: 7rem;
}

section#message-from-ceo {
    text-align: center;
    background: linear-gradient(51deg, rgba(99, 7, 77, 1) 0%, rgba(223, 0, 47, 0.9948354341736695) 100%) !important;
    color: #efefef;
}
section#message-from-ceo iframe {
    width: 100%;
    max-width: 1100px;
    display: inline-block;
    max-height: 640px;
    min-height: 600px;
    height: auto;
    border: 0;
}
.recruitment-notice {
    margin: 0 0 3rem 0;
    background-color: #efefef !important;
}
.recruitment-notice * {
    padding: 0;
    margin: 0;
}
.recruitment-notice h1 {
    font-size: 1rem;
    font-weight: bold;
}
section#equal-opportunities-employer {
    background-image: url({{ '/assets/images/company/careers/equal.jpg' | relative_url }});
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
}
section#equal-opportunities-employer > div {
    color: white;
    background: rgba(0, 0, 0, .85);
    padding: 8rem 0;
}
section#equal-opportunities-employer a.button {
    background: linear-gradient(51deg, rgba(99, 7, 77, 1) 0%, rgba(223, 0, 47, 0.9948354341736695) 100%) !important;
}
section#equal-opportunities-employer p.info {
    font-size: 0.85rem;
    margin-top: 1rem;
    opacity: 0.6;
}
section#career-list h2 {
    border-bottom: #ccc 1px solid;
    padding-bottom: 1rem;
}
section#career-list ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
section#career-list ol > li {
    margin-top: 2rem;
}
section#career-list ol a:hover h3 {
    text-decoration: underline;
}

